ul.chat{
    list-style: none;
    padding-left: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand img {
    height: 40px;
}

.form-control {
    background-color: #ddd;
}

.btnvolume {
    padding: 6px 6px 2.3em;
}

#infomessages {
  font-size: 1.2em;
  position: relative;
}

.label-air {
  position: relative;
  display: block;
  float: left;
  padding: 15px;
  line-height: 20px;
  font-size: 75%;
  font-weight: bold;
  color: #ffffff;
}

.label-metadata {
  position: relative;
  display: block;
  float: left;
  padding: 15px;
  line-height: 20px;
  font-size: 100%;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.marquee {
width: 400px;
white-space: nowrap;
overflow: hidden;
}

.marquee * {
  font-size: 1.5em;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


.mode-active {
    filter: drop-shadow(1px 1px 5px red);
}

.future-air {
    color: #f89406;
}