<div class="panel panel-default col-">
    <div class="panel-heading">
        <i class="fa fa-bullhorn fa-fw"></i>
        Виджет
        <!--
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-chevron-down"></i>
            </button>
            <ul class="dropdown-menu slidedown">
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o fa-fw"></i> Очистить чат
                    </a>
                </li>
            </ul>
        </div>
    -->
    </div>
    <div class="panel-body ">
      <iframe ng-src="{{contentUrlSafe}}"
              ng-show="!!contentUrl"
              style="width:100%;border:0;resize:vertical;">Загрузка...</iframe>
      <div class="form-group">
          <input type="text" class="form-control" id="url" ng-model="contentUrl" placeholder="Введите ссылку на iframe">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Высота" ng-model="height">
          <div class="input-group-addon">px</div>
        </div>
      </div>
      <button class="btn btn-danger" type="submit" ng-click="publish()">Publish</button>
      <button class="btn btn-danger" type="submit" ng-click="clear()">Clear</button>
      <button class="btn btn-primary" type="submit" ng-click="preview()">Preview</button>

    </div>
</div>
