<div class="panel panel-default">
    <div class="panel-heading">
        Расписание
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <!-- schedule here -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-md-3">Начало</th>
                <th class="col-md-3">Конец</th>
                <th class="col-md-6">Название</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="row">
              <tr ng-repeat="air in schedules">
                  <td class="col-md-3">{{air.begin|dateFromUnix}}<br> {{air.begin|timeFromUnix}}</td>
                  <td class="col-md-3">{{air.end|dateFromUnix}}<br>{{air.end|timeFromUnix}}</td>
                  <td class="col-md-6">{{air.title}}<br>{{air.dj}}</td>
                  <td><i class="fa fa-times" ng-click="removeSchedule($index)"></i><i class="fa fa-edit" ng-click="loadSchedule($index, air)"></i></td>
              </tr>
              <tr ng-if="!schedules.length">
                <td class="col-md-3"></td>
                <td class="col-md-6">Нет эфиров</td>
                <td class="col-md-3"></td>
              </tr>
            </tbody>
          </table>
          <!-- form here -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group col-md-6">
                <label>Начало эфира</label>
                <input class="form-control" ng-model="form.beginStr" placeholder="01.01.2007 15:59:58"/>
              </div>
              <div class="form-group col-md-6">
                <label>Конец эфира</label>
                <input class="form-control" ng-model="form.endStr" placeholder="01.01.2007 15:59:58"/>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group col-md-8">
                <input class="form-control" ng-model="form.title" placeholder="Заголовок эфира" />
              </div>
              <div class="form-group col-md-4">
                <input class="form-control" ng-model="form.dj" placeholder="Введите диджея" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group col-md-6">
                <button class="btn btn-default" ng-click="addSchedule()">Новое</button>
                <button class="btn btn-default" ng-click="saveSchedule()">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
