<div class="panel panel-default">
    <div class="panel-heading">
        Панель управления вещанием
    </div>
    <div class="panel-body">
        <h1>{{airTimeElapsed|toHMS}}</h1>
        <form role="form">
            <div class="form-group">
                <button type="button"
                        title="Запустить живой эфир"
                        id="AIR"
                        ng-class="{'mode-active': mode == 'air'}"
                        class="btn btn-success"
                        ng-click="startStream()">AIR</button>
                <button type="dj"
                        id="DJ"
                        title="Запустить вещание с диджейского маунта"
                        ng-class="{'mode-active': mode == 'dj'}"
                        class="btn btn-info"
                        ng-click="startDJStream()">DJ</button>
                <button type="button"
                        id="MPD"
                        title="Запустить фоновое вещание"
                        ng-class="{'mode-active': mode == 'mpd'}"
                        class="btn btn-default"
                        ng-click="startMPD()">MPD</button>
            </div>
            <h2>Живой эфир</h2>
            <div class="form-group">
              <button type="button"
                      id="VOICE"
                      title="Переключить на голос с подложкой"
                      ng-class="{'mode-active': liveMode == 'live_voice'}"
                      class="btn btn-success"
                      ng-click="startLiveVoice()">
                      <i class="glyphicon glyphicon-user"></i>
              </button>
              <button type="dj"
                      id=""
                      title="Переключить на голос с фоновой музыкой"
                      ng-class="{'mode-active': liveMode == 'live_voice_mpd'}"
                      class="btn btn-info"
                      ng-click="startLiveVoiceMPD()">
                      <i class="glyphicon glyphicon-user"></i>
                      <i class="glyphicon glyphicon-plus"></i>
                      <i class="glyphicon glyphicon-music"></i>
              </button>
              <button type="button"
                      id="♪"
                      title="Переключить на проигрывание музыки"
                      ng-class="{'mode-active': liveMode == 'live_mpd'}"
                      class="btn btn-default"
                      ng-click="startLiveMPD()">
                      <i class="glyphicon glyphicon-music"></i>
             </button>
            </div>
        </form>
    </div>
</div>
