<div class="panel panel-default">
  <div class="panel-heading">
      Трекер времени эфира
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Время</th>
          <th class="col-md-10">Описание</th>
        </tr>
      </thead>
      <tbody class="row">
        <tr ng-repeat="timestamp in timestamps">
          <td class="col-md-2">{{timestamp.time|toHMS}}</td>
          <td class="col-md-10">
            <div class="input-group">
                <input class="form-control" ng-if="timestamp.edit" type="text" name="" ng-model="timestamp.label">
                <span ng-if="!timestamp.edit">{{timestamp.label}}</span>
                <div class="input-group-btn">
                  <button class="btn btn-default" ng-if="!timestamp.edit" ng-click="timestamp.edit = true">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-default" ng-if="timestamp.edit" ng-click="saveLabel($index, timestamp)">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-default" ng-click="trackTime()">Track</button>
    </div>
  </div>
</div>
