{% spaceless %}
<!DOCTYPE html>
<html ng-app="radioStation" ng-strict-di>

<head>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/sb-admin-2.css" />
  <script src="/static/js/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/angular.min.js"></script>
</head>

<body>
  <div id="wrapper">
      <div class="container-fluid">
          <div class="row">
              <br>
              {% block body %}
              {% endblock %}
          </div>
      </div>
  </div>
  {% block js %}
  {% endblock %}
</body>

</html>
{% endspaceless %}
