<div class="panel panel-default" ng-show="!!contentUrl">
    <div class="panel-body">
      <iframe ng-src="{{contentUrlSafe}}" style="width:100%;border:0;" ng-style="{height: height + 'px'}">Загрузка...</iframe>
    </div>
</div>
