{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="POST" action="/feedback">
        <div class="form-group">
          <label for="message"><h1>Обратная связь</h1></label>
          <textarea id="message"
                    name="message"
                    rows="10"
                    cols="80"
                    class="form-control"
                    placeholder="Сообщение максимум 200 символов"></textarea>
        </div>
        <div class="form-group">
          <input type="hidden" value="{{captcha}}" name="captchaId" />
          <div class="input-group-addon">
            <img src="/captcha/{{captcha}}.png" />
          </div>
          <input class="form-control" name="captcha" placeholder="Введите капчу" />
          {% autoescape off %}
          {{error}}
          {% endautoescape %}
        </div>
        <button class="btn btn-default">Отправить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
