<!DOCTYPE html>
<html ng-app="radioStation" ng-strict-di>

<head>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/sb-admin-2.css" />
  <script src="/static/js/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/angular-sanitize.min.js"></script>
</head>

<body>
  <div id="wrapper">
      <div class="container-fluid">
          <div class="row">
              <br>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Вход</h3>
                </div>
                <div class="panel-body">
                    <form role="form" ng-controller="LoginController" ng-submit="login($event)">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control"
                                       placeholder="E-mail"
                                       name="email"
                                       ng-model="username"
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control"
                                       placeholder="Password"
                                       name="password"
                                       type="password"
                                       ng-model="password">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button
                               class="btn btn-lg btn-success btn-block"
                               ng-click="login($event)">Логин</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>
</div>
<!-- block js -->
<script type="text/javascript" src="/static/js/nglogic.js"></script>
<script type="text/javascript" src="/config.js"></script>
<script type="text/javascript" src="/static/js/controllers.js"></script>
<script type="text/javascript" src="/static/js/twitter-timeline.js"></script>
<script type="text/javascript" src="/static/js/scrollglue.js"></script>
<!-- endblock -->
</body>

</html>
