<span class="navbar-form navbar-left">
  <button class="btn btn-default" ng-click="play()"><i class="fa fa-play"></i></button>
  <button class="btn btn-default" ng-click="stop()"><i class="fa fa-stop"></i></button>
  <i class="fa fa-volume-off"></i>
  <button class="btn btn-default btnvolume" ng-click="mute()"></button>
  <button class="btn btn-default btnvolume" ng-click="setsnd(0.1)"></button>
  <button class="btn btn-default btnvolume" ng-click="setsnd(0.3)"></button>
  <button class="btn btn-default btnvolume" ng-click="setsnd(0.5)"></button>
  <button class="btn btn-default btnvolume" ng-click="setsnd(0.8)"></button>
  <button class="btn btn-default btnvolume" ng-click="setsnd(1)"></button>
  <i class="fa fa-volume-up"></i>
</span>
