<div class="nav navbar-nav">
  <span class="label-danger label-air"
         ng-show="state === 'air'">ON AIR</span>
  <span class="label-warning label-air"
        ng-show="state === 'dj'">DJ LIVE</span>
  <span class="label-default label-metadata"
        ng-show="state === 'mpd' && metadata">
        <div>{{metadata.title}} - {{metadata.artist}} [{{metadata.listeners}}/{{metadata.max_listeners}}]</div>
  </span>
</div>
