<div class="panel panel-default">
  <div class="panel-heading">
    Расписание
  </div>
  <div class="panel-body">
    <table id="schedule" class="table table-striped">
      <thead>
        <tr>
          <th>Начало</th>
          <th>Название</th>
          <th>Конец</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="air in schedules" ng-class="{'future-air': !air.finished}">
            <td>
              <div>{{air.begin|dateFromUnix}}</div>
              <div>{{air.begin|timeFromUnix}}</div>
              <div ng-if="air.finished"><small>Эфир окончен</small></div>
            </td>
            <td>
              <div>{{air.title}}</div>
              <div><b>{{air.dj}}</b></div>
            </td>
            <td>
              <div>{{air.end|dateFromUnix}}</div>
              <div>{{air.end|timeFromUnix}}</div>
            </td>
        </tr>
        <tr ng-if="!schedules.length">
          <td class="col-md-3"></td>
          <td class="col-md-6">Нет эфиров</td>
          <td class="col-md-3"></td>
        </tr>
      </tbody>
    </div>
  </table>
  </div>
</div>
