<div class="panel panel-default">
  <div class="panel-heading">
    Twitter
  </div>
  <div class="panel-body">
    <div twitter-timeline="{{widgetId}}" auto-resize="false" data-tweet-limit="5">Loading tweets...</div>
  </div>
</div>
